aclocal.m4
autom4te.cache
config.h
config.log
config.status
config.sub
configure
config.h.in
cscope.out
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
lib/javascript/obj
doc/scripting/html
*.[oa]
*.so
*.dylib
*.la
*.lo
*~
*.orig
Makefile.in
Makefile
.deps
.obj
.libs
TAGS
ylwrap
py-compile
*.pyc
*.swp
core
core.*
doc/html
doc/pydocstrings.i
doc/xml
xcode/build
xcode/*.xcodeproj/*.mode1v3
xcode/*.xcodeproj/*.pbxuser
